* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

body {
    color: white;
    background-color: #222831;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #393e46;
}

nav a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #8ad7c1;
    background-color: black;
}

table {
    width: 100%;
}

table th {
    border-right: solid white;
    width: 300px;
}

table td {
    padding: 1rem;
    vertical-align: top;
}

table ul {
    list-style-type: none;
}

.profile a {
    text-decoration: none;
    color: #8ad7c1;
}

.profile a:hover {
    text-decoration: underline;
}